<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row grid gap-3">
    <%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete %>
    <% @users.each do |user| %>
    <div class="col-6 col-md-4 border border-3 border-black">
      <img src="<%= user.photo %>" />
    </div>
    <div class="col-6 col-md-8 border border-3 border-black">
      <h2><%= link_to user.name, user_path(user) %></h2>
      <sub>Number of posts <%= user.posts.size %></sub>    
    </div>
    <% end %>
  </div>
</div>